@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100dvh;
    font-family: "Space Grotesk", sans-serif !important;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100dvh;
}

li {
    list-style: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: inherit;
}

select {
    padding: 0 0.33rem;
}

input {
    padding: 0.35rem;
}

label {
    cursor: pointer;
}

input[type="checkbox"] {
    transform: scale(1.3);
    cursor: pointer;
}

textarea {
    resize: none;
}

button {
    padding: 0.5rem 1.5rem;
    background: transparent;
    border: 1px solid gray;
    cursor: pointer;
    transition: 0.2s ease;
}

button:hover {
    background: lightgray;
}

button:disabled {
    opacity: 0.5;
}

.content-container {
    flex: 1;
    max-width: 1440px;
    margin: auto;
}

.back-button {
    color: red;
}
