.order {
    margin-top: 1rem;
    padding: 1rem;
}

.order-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem;
}

.order-status-title {
    margin-bottom: 1rem;
}

.order-card {
    border: 1px solid gray;
    padding: 1rem;

    margin-bottom: 1rem;
}

.order-card-user {
    margin-bottom: 1rem;
}

.order-card-rows {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
